.container {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    align-items: center;
    column-gap: 0.5rem;
}

.radio {
    position: relative;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-1);
}

.radio > input {
    position: absolute;
    opacity: 0;
}

.radio > input:checked + label {
    background: var(--color-1);
    color: var(--color-5);
}

.radio > label {
    display: inline-block;
    margin-right: 0px;
    width: 50%;
    text-align: center;
    padding: 0.5rem 0px;
    border-radius: var(--border-radius);
}
